@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opactity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opactity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: grey; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    backface-visibility: hidden; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #5c60a1, #386d5b);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .5rem;
  text-shadow: 0.5rem 1rem 2rem white;
  transition: all .2s; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5rem; }

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 8rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-2 {
  margin-bottom: 2rem; }

.u-margin-top-8 {
  margin-top: 8rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn {
  border: none;
  cursor: pointer; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3); }
    .btn:hover::after {
      transform: scaleX(1.5) scaleY(1.5);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
  .btn--white {
    background-color: white;
    color: grey;
    letter-spacing: 0.2rem; }
    .btn--white::after {
      background-color: white; }
  .btn--blue {
    background-color: #56589d;
    color: white;
    letter-spacing: 0.2rem; }
    .btn--blue::after {
      background-color: #56589d; }
  .btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--anim {
    animation-name: moveInBottom;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #56589d;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #56589d;
  padding: 3px;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #56589d;
  color: white;
  box-shadow: 0 1rem 1rem #56589d;
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 1rem #56589d;
  transform: translateY(0px); }

.btn--book {
  background-color: bisque; }
  .btn--book:hover {
    background-color: bisque; }
  .btn--book::after {
    background-color: bisque; }

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  height: 65rem; }
  .card__side {
    height: 65rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem #56589d; }
    .card__side--front {
      background-color: bisque; }
    .card__side--back {
      background-color: darkgoldenrod;
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to bottom right, #56589d, darkgoldenrod); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 38rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to bottom right, #56589d, darkgoldenrod), url(../../img/hatha1.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to bottom right, #56589d, darkgoldenrod), url(../../img/natureflow.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to bottom right, #56589d, darkgoldenrod), url(../../img/yin.jpg); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    color: #56589d;
    position: absolute;
    top: 1rem;
    right: 2rem;
    letter-spacing: 0.3rem; }
  .card__details {
    padding: 3rem;
    color: #56589d; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #56589d; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: bisque; }
  .card__price-only {
    font-size: 1.4rem; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 200; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem #56589d;
    border-radius: 0;
    position: absolute;
    z-index: 9;
    transition: all .2s;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1rem solid #56589d;
      transform: scale(1.2) translateY(-0.5rem);
      z-index: 20;
      cursor: pointer;
      border-radius: 0; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.8); }

.feature-box {
  background-color: rgba(231, 225, 225, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem #56589d; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #5c60a1, #386d5b);
    -webkit-background-clip: text;
    color: transparent;
    transition: transform .4s; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form {
  padding: 3rem; }
  .form__group:not(last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    outline: #e7e1e1;
    color: inherit;
    padding: 2rem;
    border-radius: 2px;
    background-color: white 0.5;
    font-family: inherit;
    border-bottom: 3px solid transparent;
    border: none;
    width: 40%;
    display: block;
    transition: all .3s; }
    .form__input::-webkit-input-placeholder {
      color: #a2a2a2; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem #56589d;
      border-bottom: 3px solid #56589d; }
    .form__input:focus:invalid {
      border-bottom: 3px solid rgba(255, 21, 0, 0.887); }
  .form__label {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 2rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__radio-group {
    display: inline-block;
    width: 49%;
    padding-bottom: 4rem;
    padding-top: 2rem; }
  .form__radio-input {
    display: none; }
  .form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem; }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #56589d;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    padding-right: 2rem; }
    .form__radio-button::after {
      content: "";
      background-color: #56589d;
      height: 1.3rem;
      width: 1.3rem;
      display: block;
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      opacity: 0;
      transition: all .2s; }
  .form__radio-input:checked + .form__radio-label .form__radio-button:after {
    opacity: 1; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem #56589d;
  background-color: white;
  border-radius: 3px;
  padding: 8rem;
  padding-left: 9rem;
  font-size: 1rem;
  transform: skewX(-10deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(10deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(10deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(70%); }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 8rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2* ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2* ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3* ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #56589d;
  padding: 18rem 0;
  font-size: 1.5rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #e7e1e1;
    padding-top: 1rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #e7e1e1;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: white;
    transform: scale(1.1); }
  .footer__copyright {
    color: #e7e1e1;
    border-top: 1px solid #e7e1e1;
    padding-top: 1rem;
    width: 70%;
    float: right; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(33, 26, 162, 0.565), rgba(255, 162, 0, 0.426)), url(../img/yoganat.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
  position: relative;
  /*https://bennettfeely.com/clippy/*/ }
  .header_logo-box {
    position: absolute;
    top: 4rem;
    /* have to set parent element to relative, which is the header */
    left: 4rem; }
  .header_logo {
    height: 3.5rem; }
  .header_text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*to make the element center */
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 5rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 20; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 5rem;
  right: 6.5rem;
  background-image: radial-gradient(#5c60a1, #386d5b);
  z-index: 10;
  transform: scale(70); }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none; }

.navigation__item {
  margin: 1rem; }

.navigation__link {
  font-size: 3rem;
  font-weight: 300;
  color: white;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(120deg, red 0%, red 50%, white 50%);
  background-size: 100%; }

.about {
  background-color: #e7e1e1;
  padding: 25rem 0;
  margin-top: -20rem; }

.features {
  background-image: linear-gradient(to right, rgba(33, 26, 162, 0.565), rgba(255, 162, 0, 0.426)), url(/img/group2.jpg);
  background-size: cover;
  padding: 20rem 0;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  .features > * {
    transform: skewY(7deg); }

.classes {
  background-color: #e7e1e1;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem; }

.customers {
  position: relative;
  padding: 15rem 0; }

.booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #56589d, #e7e1e1); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, white 50%, transparent 50%), url(/img/hatha.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem #56589d;
  height: 50rem; }
  .book__book {
    width: 50%;
    padding: 6rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 3rem;
  box-sizing: border-box; }
