$color-primary:#56589d;
$color-primary-light:#5c60a1;
$color-primary-dark:#386d5b;
$color-white: white;
$color-grey: grey;
$color-light-grey1: rgb(231, 225, 225);
$color-light-grey2: rgb(162, 162, 162);


$grid-width: 114rem;
$gutter-vertical :8rem;
$gutter-horizontal: 6rem;