.card {
    perspective: 100rem;
    -moz-perspective: 100rem;



    &__side{
        height: 50rem;
        transition: all .8s;


        &--front{
         background-color: bisque;
        }

        &--back{
         background-color: darkgoldenrod;
         transform: rotateY(180deg);

        }
    }




    &:hover &__side--front{      //when card is hovered card side is transformed
        transform: rotateY(180deg);
    }

    &:hover &__side--back{      //when card is hovered card side is transformed
        transform: rotateY(0deg);
    }
}